# Logs & System
logs
*.log
.DS_Store
Thumbs.db

# Node / React
node_modules/
dist/
dist-ssr/
.env
.env.local
.eslintcache
.vitest-root/ # Vitest cache

# .NET Specific
**/bin/
**/obj/
**/publish/
.vs/
# Ignore actual settings but allow the example template
**/appsettings.json
**/appsettings.Development.json
!**/appsettings.Example.json

# Visual Studio / Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.sln
*.user
*.suo
*.db
*.db-journal