# Logs
logs
*.log

# Node / React
node_modules/
dist/
dist-ssr/
.env
.env.local

# .NET Specific - CRITICAL
**/bin/
**/obj/
**/appsettings.json
!**/appsettings.Example.json

# Visual Studio / Editors
.vscode/
.idea/
*.sln
*.user
*.suo
.DS_Store